<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perjadin One 2025</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
      }
      .whatsapp-button:hover {
        background-color: #128c7e;
      }

      .table-container {
            height: 100vh; /* Full height of the viewport */
            overflow: auto; /* Enable scrolling if content overflows */
        }
        .table {
            width: 100%;
            
            margin: 0;
            display: table; /* Ensures table takes full height of container */
        }
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:RGB(159, 226, 191);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            z-index: 1000;
        }
        .jumbotron-custom {
            text-align: center;
            padding: 2rem;
            background-color: white;
            color: black;
            border-radius: 0.5rem;
        }
        .fade-out {
            transition: opacity 2s ease-out;
            opacity: 0;
        }
        .image-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .image-container img {
            width: 100%;
            max-width: 400px; /* Adjust this as necessary */
        }
        .sticky-element {
    position: -webkit-sticky; /* Untuk browser WebKit (Chrome, Safari, Opera) */
    position: sticky;
    top: 90px;
    /* background-color: #f5f5f5; */
    padding: 10px;
  }
  .sticky-element1 {
    position: -webkit-sticky; /* Untuk browser WebKit (Chrome, Safari, Opera) */
    position: sticky;
    top: 100px;
    /* background-color: #f5f5f5; */
    
  }
  .sticky-element2 {
    position: -webkit-sticky; /* Untuk browser WebKit (Chrome, Safari, Opera) */
    position: sticky;
    top: 100px;
    padding: 10px;
  }
  .custom-column {
      height: 75px;
      /* border: 1px solid #ddd;Tambahkan border jika perlu */
      /* display: flex; */
      align-items: center;
      justify-content: center;
    }
    </style>
  </head>
  <body>
    <div id="app" class="container mt-1">
        
                <!-- <h1 class="display-4 text-center ">PERJADIN ONE</h1> -->

                <div v-if="showOverlay" id="overlay">
                    <div class="jumbotron-custom">
                        <div class="image-container" :class="{ 'fade-out': imageFaded }">
                            <img src="https://yuvalianda.com/wp-content/uploads/2020/03/Perjalanan-dinas-pns.jpg" alt="">
                        </div>
                        <h1 class="display-4 mb-4">Welcome! 2025</h1>
                        <div action="">
                            <input v-model="satkerCode" ref="satkerInput" type="text" class="form-control mb-3" placeholder="masukkan kode satker">
                            <button type="submit" class="btn btn-primary" @click="checkCode" style="width: 150px; height: 50px;;">Login</button>
                        </div>
                    </div>
                </div>
            

                <nav class="navbar navbar-expand-lg mb-3 fixed-top" style=" z-index: 999;  background-color: RGB(159, 226, 191);">
                    <div class="container">
                        <a class="navbar-brand display-5" href="#" style="color: white;">
                            <b>Perjadin One</b>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </nav>
                
                <!-- dashboard -->
                <br>
                                <div  class="container mt-5" >
                                  <!-- <div class="display-4 mb-3">
                                    <b>
                                      <span  style="font-weight: 50px;">Dashboard SPD</span >
                                    </b>
                                  </div> -->
                                  <div class="container " v-if="dashboard">
                                    <div class="row ">
                                      <div class="col-sm custom-column text-center">
                                        <p style="color:#Bf0fff; font-size:25px;">
                                          Jumlah SPD dalam proses
                                        </p>
                                        <b>
                                          <span class="display-3">{{totalObjects}}</span>
                                        </b>
                                      </div>
                                      <div class="col-sm custom-column text-center">
                                        
                                        <p style="color:#Bf0fff; font-size:25px;">
                                          Sudah Diajukan ke PPK
                                        </p>
                                        <b>
                                          <span class="display-3">{{countTrueStatus}}</span>
                                        </b>
                                      </div>
                                      <div class="col-sm custom-column text-center">
                                        
                                        <p style="color:#Bf0fff; font-size:25px;">
                                          Belum Input Rincian
                                        </p>
                                        <b>
                                          <strong>
                                            <span class="display-3" >{{totalObjects - countTrueStatus}}</span>
                                          </strong>
                                        </b>
                                      </div>
                                    </div>
                                  </div>
                <!-- dashboard -->

      <div v-if="tampilan" class="mt-2 position-relative " style="top: 55px;">

        <!-- tampilan muka -->
<!-- {{dataStatusPerjadin}} -->
        <!-- First Section -->
        <div class="row ">
          <div class="col-lg-6 container-fluid table-container p-0">
            <!-- {{perjadins}} -->
            <table class="table table-hover " >
              <thead class=" " style=" z-index: 998; background-color: RGB(159, 226, 191);">
                <tr>
                  <th>ID Perjadin</th>
                  <th>Nama</th>
                  <th>Tujuan Perjadin</th>
                  <th>Tanggal Berangkat</th>
                  <th>Aksi</th>
                </tr>
                
              </thead>
              <tbody >
                
                <tr
                  v-for="(expense, index) in dataStatusPerjadin"
                  :key="index"
                  @click="dipilih = expense"
                >
                  <td>{{ expense.No }}</td>
                  <td>{{ expense.Nama }}</td>
                  <td>{{ expense.Tempat_Tujuan }}</td>
                  <td>{{ expense.Tgl_Brkt | formatTanggal }}</td>
                  <td>
                    <button style="background-color: RGB(159, 226, 191);"
                      v-if="!expense.status"
                      @click="dipilih=expense; tampilan = false; dashboard = false;"
                      class="btn "
                    >
                      input
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="section"></div>
          </div>

          <!-- Second Section (visible on LG screens, hidden on XS screens) -->
          <div class="col-lg-6 d-none d-lg-block border ">
            <!-- <table class="table table-container-fluid bg-warning">
                <th class="">
                    <td>no</td>
                    <td>uraian</td>
                </th>
            </table> -->
            
                <div class="section p-2 sticky-element " v-if="filteredData.length > 0">
                  <b class="display-5 text-center"
                    ><h1 class="mb-1">
                      Rincian Pengeluaran Riil
                    </h1>
                    
                    <h2 style="color: #Bf0fff; font-size: 22px;">
                        {{dipilih.Nama}}
                    </h2></b
                  >
                  
                  <div class="container-fluid p-0 " >
                      <table class="table container-fluid table-hover mt-3 table table-bordered table-striped m-0"  >
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Jenis</th>
                            <th>Uraian</th>
                            <th>Bukti</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(expense, index) in filteredData" :key="index">
                            <td class="text-center">{{ expense.noSPD }}</td>
                            <td>{{ expense.jenis }}</td>
                            <td>{{ expense.uraian }}</td>
                            <td>
                              <p>{{ expense.bukti }}</p>
                            </td>
                            <td class="text-right">
                              {{ expense.nominal | formatRibuan }}
                            </td>
                          </tr>
                          <thead>
                            <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                              <th>Total</th>
                              <th class="text-right">
                                {{totalNominal | formatRibuan}}
                              </th>
                            </tr>
                          </thead>
                        </tbody>
                      </table>
                  </div>
                  <div class="row" v-if="filteredData.length > 0">
                    <a
                      class="ml-auto"
                      href="https://docs.google.com/spreadsheets/d/1WsH56pUuMMD_wxVQ15vRCXrT-DHvPoqBHOh8BZzLrLM/edit#gid=558503235"
                      target="_blank"
                    >
                      <button class="btn  mt-2" style="background-color: #e39ff6;">Cetak</button>
                    </a>
                  </div>
                </div>
            
            <a
              href="https://wa.me/6281235827827"
              target="_blank"
              class="whatsapp-button btn btn-success"
              >help
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
      <div v-if="tampilan === false">
        <!-- tambilan input -->
        <div class="row col-12 mt-5">
            <br><br>
          <p class="text-center ml-auto">
            <button style="width: 150px;"
              type="button"
              class="btn btn-danger ml-auto mt-3"
              @click="tampilan=true; dashboard=true;"
            >
              Batal
            </button>
          </p>
        </div>
        <div class="row container">
            <b><h1 class="mb-1" style="font-size: 30px;">{{dipilih.Nama}}</h1></b>
        </div>
        <div class="row">
          <div class="col-6">
            <!-- {{databaseRiil}} -->
            <br /><br />
            <!-- {{perjadins}} -->
            <div>
              <div class="mb-2">
                <label for="idPerjadin" class="form-label">ID Perjadin</label>
                <input
                  disabled
                  type="text"
                  id="idPerjadin"
                  class="form-control"
                  v-model="dipilih.No"
                />
                <!-- {{dipilih}} -->
              </div>
              <div class="mb-2">
                <label for="expenseType" class="form-label"
                  >jenis pengeluaran</label
                >
                <select
                  id="expenseType"
                  class="form-select form-control"
                  v-model="selectedExpenseType"
                >
                  <option disabled>jenis pengeluaran</option>
                  <option value="Uang harian">Uang Harian</option>
                  <option value="Transport">Transport</option>
                  <option value="Penginapan">Penginapan (selain KKP)</option>
                  <option value="Representatif">Representatif</option>
                </select>
              </div>
              <div class="mb-2">
                <!-- <label for="description" class="form-label">Uraian</label> -->
                
                <p>contoh :</p>
                <p class="text-success">Uang Harian (3 x 328.000)</p>
                <p class="text-success">Biaya Toll Surabaya - Malang PP</p>
                <p class="text-success">Hotel Aston 2 malam</p>
                <p class="text-success">Uang Representatif (3 x 150,000)</p>
                <input
                  type="text"
                  id="description"
                  class="form-control mt-2"
                  v-model="description"
                  placeholder="Input Uraian"
                />
              </div>
              <div class="mb-3">
                <b>
                  <label for="description" class="form-label"
                    >Apakah ada Bukti ?</label
                  ></b
                >
                <input
                  type="checkbox"
                  id="description"
                  class=""
                  v-model="bukti"
                  placeholder="Enter description"
                />
              </div>
              <div class="mb-3">
                <!-- <label for="amount" class="form-label">Amount</label> -->
                <input
                  type="number"
                  class="form-control"
                  v-model.number="amount"
                  placeholder="input Nominal"
                />
              </div>
              <div class="row">
                <button @click="saveRiil" class="btn  mx-auto" style="background-color: #Bf0fff; color: white; width: 150px;">
                  Simpan
                </button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="section p-1 mt-3">
              <!-- {{dipilih}} -->
              <!-- 
              <br /><br />
              {{databaseRiil}}
              <br /><br />
              {{filteredData}} -->
              <b
                ><h1 class="display-5 text-center mb-3 mt-3">
                  Rincian Pengeluaran Riil
                </h1></b
              >
              <!-- {{dataRiil}} -->
              <div class="">
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Jenis</th>
                        <th>Uraian</th>
                        <th>Bukti</th>
                        <th>Amount</th>
                        <th>aksi</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(expense, index) in dataRiil" :key="index">
                        <td class="text-center">{{ expense.no }}</td>
                        <td>{{ expense.jenis }}</td>
                        <td>{{ expense.uraian }}</td>
                        <td>
                          <p>{{ expense.bukti }}</p>
                        </td>
                        <td class="text-right">
                          {{ expense.nominal | formatRibuan }}
                        </td>
                        <td>
                          <button @click="removeItem(index)" class="btn btn-sm btn-rounded btn-danger">x</button>
                        </td>
                      </tr>
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th>Total</th>
                          <th class="text-right">
                            {{totalNominal1 | formatRibuan}}
                          </th>
                          <th></th>
                          
                        </tr>
                      </thead>
                    </tbody>
                  </table>
              </div>

              <div class="row">
                <div class="input-group mb-3 mt-3" v-if="dataRiil.length > 0">
                    <a href="https://docs.google.com/spreadsheets/d/16aMwpbirzpbxMOgJdGemzHUB8j78W48tuK6o-2zsYt0/edit?gid=1226670547#gid=1226670547" target="_blank" rel="noopener noreferrer"><button class="btn btn-info ml-auto " type="button" >Reff Akun</button></a>
  <input type="text" class="form-control" placeholder="Akun (contoh : PPA2.CD.6212.FAL.001.100.0B.521211)" v-model="akun" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-warning ml-auto " type="button" id="button-addon2" @click="saveRiilsekaligus(); tampilan = true; dashboard=true; dataRiil = [];"  v-if="isAkunValid" >Kirim ke PPK</button>
  
</div>
                <!-- <button
                  v-if="dataRiil.length > 0"
                  @click="saveRiilsekaligus(); tampilan = true; dashboard=true; dataRiil = [];"
                  type="button"
                  class="btn btn-warning ml-auto mt-3"
                >
                  Kirim ke PPK
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      // Initialize Vue instance
      new Vue({
        el: "#app", // Mount Vue to the element with id 'app'
        data: {
        akun:'',
        isAkunValid: false,
          idPerjadin: "",
          selectedExpenseType: "-",
          description: "",
          bukti: false,
          amount: null,
          perjadins: [],
          dipilih: "",
          tampilan: true,
          dashboard:true,
          dataRiil: [],
          databaseRiil: [],
          expenses: JSON.parse(localStorage.getItem("expenses")) || [],
          showOverlay: true,
        satkerCode: '',
        lastActivity: null,
        imageFaded:false,
        },
         watch: {
    akun(newValue) {
      // Validasi apakah panjang string tepat 39 karakter
      this.isAkunValid = newValue.length === 34;
    },
  },
        computed: {
         
          totalObjects: function () {
      return this.dataStatusPerjadin.length;
    },
          countTrueStatus: function () {
      return this.dataStatusPerjadin.filter(obj => obj.status === true).length;
    },
          amount1() {
            // Format nilai input dengan tanda pemisah ribuan
            return this.input.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
          },
          dataStatusPerjadin() {
            const hasilSaatDiatas = this.perjadins.map((item1) => {
              const item2 = this.databaseRiil.find(
                (item2) => item1.No === parseInt(item2.noSPD)
              );
              if (item2) {
                return { ...item1, status: item2.status };
              } else {
                return item1;
              }
            });
            return hasilSaatDiatas;
          },
          filteredData() {
            return this.databaseRiil.filter(
              (item) => item.noSPD == this.dipilih.No
            );
          },
          totalNominal() {
            return this.filteredData.reduce(
              (total, item) => total + item.nominal,
              0
            );
          },
          totalNominal1() {
            if (this.dataRiil.length > 0) {
              return this.dataRiil.reduce(
                (total, item) => total + item.nominal,
                0
              );
            }
          },
        },
        filters: {
          statusIcon: function (value) {
            if (value === true) {
              return '<span style="color: green">&#10003;</span>'; // Simbol centang hijau
            } else {
              return '<span style="color: red">&#10007;</span>'; // Simbol silang merah
            }
          },
          formatRibuan: function (value) {
            if (!value) return "";
            return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
          },
          formatTanggal: function (value) {
            if (!value) return "";
            const tanggalObjek = new Date(value);
            const tanggal = String(tanggalObjek.getDate()).padStart(2, "0");
            const bulan = String(tanggalObjek.getMonth() + 1).padStart(2, "0"); // Perhatikan penambahan 1 karena bulan dimulai dari 0
            const tahun = tanggalObjek.getFullYear();
            return `${tanggal}-${bulan}-${tahun}`;
          },
        },
        methods: {  
          removeItem(index) {
                    this.dataRiil.splice(index, 1);
                },
            checkCode() {
            if (this.satkerCode === '527411') {
                this.resetTimer();
                this.imageFaded = true;
                this.satkerCode = "";
                document.addEventListener('mousemove', this.resetTimer);
                document.addEventListener('keydown', this.resetTimer);
                document.addEventListener('scroll', this.resetTimer);
                setTimeout(() => {
                    this.resetTimer();
                    document.addEventListener('mousemove', this.resetTimer);
                    document.addEventListener('keydown', this.resetTimer);
                    document.addEventListener('scroll', this.resetTimer);
                    this.showOverlay = false;
                }, 1000); // Wait for the fade-out transition to complete
            }else{
                alert("Kode Satker Salah !!!")
                this.satkerCode = "";
            }
        },
        resetTimer() {
            this.lastActivity = new Date().getTime();
            clearTimeout(this.timeout);
            this.timeout = setTimeout(() => {
                this.showOverlay = true;
                this.satkerCode = "";
                this.imageFaded = false;
                
                document.removeEventListener('mousemove', this.resetTimer);
                document.removeEventListener('keydown', this.resetTimer);
                document.removeEventListener('scroll', this.resetTimer);
            }, 10 * 60 * 1000); // 15 minutes in milliseconds
        },
                    saveRiil() {
            if (
              this.selectedExpenseType != "-" &&
              (this.bukti, this.description, this.amount)
              // alert(this.selectedExpenseType))
            ) {
              var abc = {
                jenis: this.selectedExpenseType,
                nama: this.dipilih.Nama,
                no: this.dipilih.No,
                bukti: this.bukti ? "v" : "x",
                uraian: this.description,
                nominal: this.amount,
              };
              this.dataRiil.push(abc);



              this.selectedExpenseType = "";

              this.bukti = "";
              this.description = "";
              this.amount = "";
            } else {
              alert("data belum lengkap");
            }
            this.selectedExpenseType = "-";
          },
          saveRiilsekaligus() {
            const dataArray = this.dataRiil;
            dataArray.forEach((obj) => {
              var waktu1 = Date.now();
              var a2 = obj.jenis;
              var a3 = obj.nama;
              var a4 = obj.no;
              var a5 = obj.bukti;
              var a6 = obj.uraian;
              var a7 = obj.nominal;
              var a8 = this.akun;

              var lin = `https://script.google.com/macros/s/AKfycbydng-xudSg_7myD98TKOWCpo2vvKFb_cQxOv85aTP-4ukbWEdOnowgEkM6peoujwxu/exec?action=insert&table=data_riil&data={"id":${waktu1}, "noSPD":"'${a4}","namaPegawai":"'${a3}","jenis":"'${a2}","bukti":"${a5} ","uraian":"${a6}","nominal":"${a7}","status":true,"akun":"${a8}"}`;
              // this.test = lin;
              let app = this;
              $.ajax({
                type: "GET",
                url: lin,
                crossDomain: true,
                dataType: "jsonp",
                dataType: "text",
                success: function (resultData) {
                  //   alert("Save Complete");
                  // app.newTodo.task = ''
                  // app.newTodo.deadline = ''
                  // app.newTodo.monthly = false
                  // app.isLoading = false;
                  app.ambilDataRiil();
                },
              });

              console.log("Task Berhasil di Simpan");
            });
          },

          saveRiilsatu2() {
            this.dataRiil.foreach((obj) => {});

            var waktu1 = Date.now();
            var a2 = this.selectedExpenseType;
            var a3 = this.dipilih.Nama;
            var a4 = this.dipilih.No;
            var a5 = this.bukti;
            var a6 = this.description;
            var a7 = this.amount;

            var lin = `https://script.google.com/macros/s/AKfycbzfOmAEsUqWORVFgVgp3-juYufE-2xrp5hn85E2hZT0hXLw8_Ur-9sxY1eCDQLo8mJI/exec?action=insert&table=dataPengeluaranRiil&data={"id":${waktu1}, "noSPD":"'${a4}","namaPegawai":"'${a3}","jenis":"'${a2}","bukti":"${a5} ","uraian":"${a6}","nominal":"${a7}"}`;
            // this.test = lin;
            let app = this;
            $.ajax({
              type: "GET",
              url: lin,
              crossDomain: true,
              dataType: "jsonp",
              dataType: "text",
              success: function (resultData) {
                //   alert("Save Complete");
                // app.newTodo.task = ''
                // app.newTodo.deadline = ''
                // app.newTodo.monthly = false
                // app.isLoading = false;
                // app.GetDataTasks();
              },
            });

            console.log("Task Berhasil di Simpan");
          },
          ambilDataRiil() {
            this.databaseRiil = [];

            // var url ="https://script.google.com/macros/s/AKfycbyc7wzSrUGxQhcBN5EfVC-rNRj3wncZJOVTWAChXtSwnrHkGjoaoI91bggme_fUOIP9/exec?action=read&table=query";
            var url =
              "https://script.google.com/macros/s/AKfycbydng-xudSg_7myD98TKOWCpo2vvKFb_cQxOv85aTP-4ukbWEdOnowgEkM6peoujwxu/exec?action=read&table=data_riil";

            let app = this;
            $.getJSON(url, function (json) {
              // console.log(json.data);
              app.databaseRiil = json.data;
            });
          },

          ambilDataPerjadin() {
            this.perjadins = [];

            // var url ="https://script.google.com/macros/s/AKfycbyc7wzSrUGxQhcBN5EfVC-rNRj3wncZJOVTWAChXtSwnrHkGjoaoI91bggme_fUOIP9/exec?action=read&table=query";
            var url =
              "https://script.google.com/macros/s/AKfycbydng-xudSg_7myD98TKOWCpo2vvKFb_cQxOv85aTP-4ukbWEdOnowgEkM6peoujwxu/exec?action=read&table=dataPerjadinJatim25";

            let app = this;
            $.getJSON(url, function (json) {
              // console.log(json.data);
              app.perjadins = json.data;
            });
          },
          kirimData() {
            var itimestamp = this.id_dipilih;
            console.log(itimestamp);
            var url = `https://script.google.com/macros/s/AKfycbzfOmAEsUqWORVFgVgp3-juYufE-2xrp5hn85E2hZT0hXLw8_Ur-9sxY1eCDQLo8mJI/exec?action=update&table=dataPerjadinJatim24&No=${itimestamp}&data={"col8":"oke"}`;
            // this.test = url;
            // timestamp=${itimestamp}
            let app = this;
            $.ajax({
              type: "GET",
              url: url,
              crossDomain: true,
              dataType: "jsonp",
              dataType: "text",
              success: function (resultData) {
                // alert('Task dipindahkan ke Arsip')
                app.ambilDataPerjadin();
              },
            });
          },
          submitExpense: function () {
            // Create an object to store the expense data
            const expense = {
              idPerjadin: this.idPerjadin,
              expenseType: this.selectedExpenseType,
              description: this.description,
              amount: this.amount,
            };
            // Get existing expenses from local storage or initialize an empty array
            const expenses = JSON.parse(localStorage.getItem("expenses")) || [];
            // Add the new expense to the array
            expenses.push(expense);
            // Save the updated expenses array back to local storage
            localStorage.setItem("expenses", JSON.stringify(expenses));
            // Reset form fields after submission
            this.idPerjadin = "";
            this.selectedExpenseType = "";
            this.description = "";
            this.amount = null;
            // Optionally, you can notify the user that the expense has been saved
            alert("Expense saved successfully!");
          },
        },
        created() {
          this.ambilDataPerjadin();
          this.ambilDataRiil();
  
        },
        mounted() {
        this.$refs.satkerInput.focus(); // Autofocus the input element when component is mounted
    },
      });
    </script>
  </body>
</html>
